/* [ XL Laptop] */
@media (max-width: 1366px) {
  /*@media (max-width: 1400px) {*/
  #acercade .acerca-item1 img {
    height: 550px;
    width: 375px;
  }
  /*.acerca-item2 h3{ 
    }*/
  #acercade .container {
    width: 90%;
    margin: auto;
  }

  #acercade .acerca-item2 p {
    color: var(--color-assets);
    font-size: 16px;
    width: 80%;
    font-weight: 400;
  }
}
/*[ LG TABLET HORIZONTAL]*/
@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 700px;
    background: linear-gradient(
        107deg,
        rgba(3, 101, 42, 0.15) 0%,
        rgba(1, 26, 11, 0.2) 100%
      ),
      url("/assets/img/fondoheaderv2.png");
  }
  .nav ul li {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #acercade .acerca-item1 img {
    height: 500px;
    width: 325px;
  }
  /*.acerca-item2 h3{ 
    }*/
  #acercade .container {
    width: 90%;
    margin: auto;
  }

  #acercade .acerca-item2 p {
    color: var(--color-assets);
    font-size: 16px;
    width: 90%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 80%;
  }
}

@media (max-width: 920px) {
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 80%;
  }

  nav .menu-btn i {
    display: block;
  }
  .menu-btn {
    font-size: 40px;
    margin-top: 20px;
    display: block;
    float: right;
  }

  .menu-btn2 {
    font-size: 40px;
    margin-top: 20px;
    display: block;
    float: right;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    z-index: 500;
    margin: auto;
    /*margin-top: 0px;
    top: 0px;
    position: fixed;
    /*top: 80px;*/
    top: 0px;
    position: fixed;
    left: -100%;
    /*background: var(--color-assets);*/

    height: 100vh;
    padding-top: 20%;
    width: 100%;
    text-align: start;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    margin-left: 0px;
    left: 0;
    background: var(--color-assets);
  }

  nav ul li a {
    width: 100%;
    /*margin: 40px 0;*/
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 40px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: var(--color-secundario);
  }
}

/*BIG  CELULAR LANDSCAPE */
@media (max-width: 823px) and (min-width: 770px) {
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 100%;
  }
}
/*[ MD TABLET VERTICAL]*/
@media (max-width: 768px) {
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 100%;
  }
}
/*[ CELULAR LANDSCAPE]*/
@media (max-width: 736px) {
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 100%;
  }
}
/* SMALL CELULAR LANDSCAPE */
@media (max-width: 568px) {
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 100%;
  }
}
/*[ CELULAR PORTRAIT ]*/
@media (max-width: 480px) {
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 16px;
    width: 100%;
  }
}

/*[ SMALL CELULAR PORTRAIT ]*/
@media (max-width: 360px) {
  .inicio {
    font-size: 20px;
  }
  .nombre {
    font-size: 30px;
  }
  #acercade .acerca-item1 {
    display: none;
  }
  #acercade .acerca-item2 {
    color: var(--color-assets);
    font-size: 16px;
    width: 100%;
    font-weight: 400;
  }
  .parrafo {
    color: var(--color-font);
    font-weight: normal;
    font-size: 14px;
    width: 100%;
  }
  .acerca-item2 h3 {
    font-size: 30px;
    width: 100%;
    font-weight: 500;
    padding-top: 10px;
  }

  .acerca-item2 p {
    font-size: 12px;
    width: 100%;
  }
}
