* {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --color-font: #fff;
  --color-principal: #03652a;
  --color-secundario: #06a749;
  --color-assets: #2e2d2d;
  --color-fondo: #fafafa;
}

html body {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 70%;
  margin: auto;
}

.container-50 {
  width: 70%;
  margin: auto;
}

.bold {
  font-weight: bolder;
}

header {
  padding-top: 20px;
}

.nav {
  color: var(--color-font);
  width: 70%;
  margin: auto;
}

.nav ul {
  float: right;
}

.nav ul li {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav ul li a {
  color: var(--color-font);
  text-decoration: none;
}

.nav ul li:hover {
  opacity: 0.8;
}

.active {
  opacity: 0.8;
  font-weight: normal;
}

header {
  width: 100%;
  height: 700px; 
  background: linear-gradient(
      107deg,
      rgba(3, 101, 42, 0.15) 0%,
      rgba(1, 26, 11, 0.2) 100%
    ),
    url("/Cesars/assets/img/fondoheader.png");
}

#contenido {
  margin-top: 60px;
}

#contenido ul {
  margin-block-start: 0px;
}

#contenido img {
  margin: 0px;
  display: inline;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#contenido img:hover {
  opacity: 0.3;
}

.inicio {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
}

.nombre {
  color: var(--color-font);
  font-weight: normal;
  font-size: 40px;
}

.parrafo {
  color: var(--color-font);
  font-weight: normal;
  font-size: 16px;
  width: 40%;
}

#acercade {
  margin: auto;
  padding-top: 40px;
}

.section-bg-gray {
  background: radial-gradient(#b000 15%, transparent 16%) 0 0,
    radial-gradient(#a000 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(207, 204, 204, 0.712) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: white;
  background-size: 5px 5px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-bg-fondo {
  /*background: radial-gradient(#B000 15%, transparent 16%) 0 0, radial-gradient(#A000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(207, 204, 204, 0.712) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: white;*/
  background-color: var(--color-fondo);
  background-size: 5px 5px;

  margin-bottom: 50px;
}

.acerca-item1 {
  width: 40%;
}

.acerca-item2 {
  width: 60%;
}

.acerca-item2 h3 {
  color: var(--color-secundario);
  font-size: 40px;
  width: 90%;
  font-weight: 500;
  padding-top: 10px;
}

.acerca-item2 p {
  color: var(--color-assets);
  font-size: 16px;
  width: 90%;
  font-weight: 400;
}

.subtitle {
  color: var(--color-assets);
  font-size: 40px;
}

.line {
  margin-top: -20px;
  border: 4.5px solid var(--color-assets);
  color: var(--color-assets);
  background-color: var(--color-assets);
  width: 15%;
  float: left;
}

.line2 {
  margin-top: -20px;
  border: 4.5px solid var(--color-secundario);
  color: var(--color-secundario);
  background-color: var(--color-secundario);
  width: 15%;
  float: center;
}

.row {
  display: flex;
}

.items-acerca {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.items-acerca article {
  display: flex;
  width: 50%;
  margin-bottom: 20px;
}

.items-acerca article span {
  padding-left: 25px;
}

.btn-descargar-cv {
  cursor: pointer;
  color: var(--color-font);
  /*background: linear-gradient(107deg, rgba(3,101,42,0.15) 0%, rgba(1, 26, 11, 0.2) 100%);*/
  margin-top: 10px;
  /*background-color: var(--color-principal);*/
  background-image: linear-gradient(
    to right,
    var(--color-principal),
    var(--color-secundario)
  );
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}

#servicios {
  margin: auto;
  padding-top: 40px;
}

.container-flex {
  width: 80%;
  margin: auto;
}

.container-flex .btn-title {
  width: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  color: var(--color-font);
  margin-top: 10px;
  background-color: var(--color-secundario);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
}

.middle {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

#servicios p {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 50px;
  margin-bottom: 40px;
}

.items-servicios {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.items-servicios article {
  margin-top: 20px;
}

.items-servicios img{
    width:80%;
    margin: auto;
  }

.items-servicios article ul {
  margin-top: 20px;
  display: block;
  list-style: none;
}

.items-servicios article ul :nth-child(2) {
  margin: auto;
  text-align: center;
  color: var(--color-assets);
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.section-bg-green {
  background: #09a74b;
  height: 300px;
}

.section-bg-contactame {
  background: var(--color-fondo);
  height: 300px;
}

footer p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #09a74b;
  height: 50px;
  margin: auto;
  text-align: center;
  color: var(--color-font);
}

#btnVolver {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-assets);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btnVolver:hover {
  background-color: #555;
}

#contactanme {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contactanme .formulario-contact {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.col-left label {
  color: var(--color-assets);
  font-weight: bold;
  font-size: 25px;
}

.col-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  margin-left: 20px;
}

.col-right label {
  color: var(--color-assets);
  font-weight: bold;
  font-size: 25px;
}

.form-input {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
}

.form-input-text {
  width: 650px;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
}

.form-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: var(--color-font);
  background: var(--color-assets);
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  opacity: 0.8;
}

[class^="icon"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon-list2:before {
  content: "\e600";
}

#click {
  display: none;
}
.menu-btn {
  display: none;
}
/*
#check{
    display: none;
}*/
